.deped-form {
    flex: 2;

    height: 100%;
    min-height: 0;

    display: flex;
    flex-direction: column;

    padding: 1rem;

    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.deped-form h2 {
    margin-top: 0;
}

.report-container {
    height: 100%;
    overflow: auto;
}

.report-table {
    width: 100%;

    border-collapse: collapse;
    text-align: center;
}

.report-table th {
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    background-color: #cdcdcd;
}

.report-table select {
    padding: 0.2rem 0.4rem;

    background-color: #DAF2E2;
    color: rgb(0, 50, 0);

    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.75rem;
}

.report-btn {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;

    background-color: #0E7645;
    color: white;

    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
}
